*{
	margin: 0 auto;
	padding: 0 auto;
}

/*============================Header code start=====================================*/

#header{
	height: 150px;
	background-color: #333545;
}
.searchbox input{
	width: 800px;
	height: 30px;
}

.btn{
	margin-left: 10px;
}

.btn a{
	color: #fff;
	text-decoration: none;
}

.btn a:hover{
	color: #fff;
	text-decoration: none;
}
{
.navsec
	background-color: #333545;
}


.navsec a{
	color: #ffffff;
	font-size: 20px;
	margin-left: 50px;
}

/*============================Header code End=====================================*/

/*============================Image slide code start=====================================*/

.img_slider{
	width: 100%;
}
